node
api
cli
error.log
info.log
crash-data.log
.env
logs
beam-res
dist
node-utxo-image.bin
node.db-journal
node.db
wallet.db
wallet.db-journal
bundle
coverage
ipfs-repo
testrepo
repos.db