.loaderWrapper {
	display: flex;
	justify-content: center;
}

.preload {
	height: max-content;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	z-index: 99;

}

.syntax {
	width: 100%;
	border-radius: 8px;
	white-space: pre-wrap;

	code {
		font-size: 1.2em !important;
		font-family: PublicSans-Regular !important;
	}

	;
}