.section {
  max-width: 960px;
  width: 100%;
  margin: 72px auto 170px auto;
    .title{
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .img{
        position: absolute;
        top: 0;
        left: 0;
        img{
          position: absolute;
        }
        .arrow{
          left: -85px;
          top: 32px;
          width: 132px;
          height: 33px;
          animation: fadein 5s linear;
          z-index: 1;
        }
        .ellipse{
          left: -23px;
          top: -7px;
          animation: fadein 2s linear;
        }
      }
      h1{
        font-family: 'PublicSans-ExtraBold', serif;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 52px;
        color: #000000;
        margin-bottom: 0;
        z-index: 1;
        a{
          color: #FF791F;
        }
        .green{
          color: #3FD05A;
          font-style: italic;
          text-decoration: underline;
        }
        .drop{
          display: block;
        }
        .indent{
          padding-left: 63px;
        }
      }
    }
  .count{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 19px -16px 81px -16px;
    h4{
      font-family: 'PublicSans-SemiBold', serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.37em;
      text-transform: uppercase;
      color: #8F8F8F;
      margin: 0 16px;
    }
    .countNum{
      h4{
        color: #FFFFFF;
        background: #FF791F;
        border-radius: 4px;
        margin: 0;
        padding-left: 5px;
      }
    }
  }
  .text{
    p{
      font-family: 'PublicSans-Regular', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #000000;
      .drop{
        display: block;
      }
      .color{
        color: #FF791F;
        cursor: pointer;
      }
      &:nth-child(1){
        margin-bottom: 28px;
      }
    }
  }
  button{
    width: 191px;
    height: 52px;
    background: #FF791F;
    font-family: 'PublicSans-ExtraBold', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 40px;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 1200px) {
  .section{
    padding: 0 40px;
  }
}
@media only screen and (max-width: 768px) {
  .section{
    margin: 40px 0;
    padding: 0 10px;
    .title{
      .img{
        top: -30px;
      }
      h1{
        font-size: 30px;
        .drop{
          display: inline;
        }
      }
      img{
        margin: 10px auto;
      }
    }
    .count{
      margin-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .section{
    button{
      width: 100%;
    }
  }
}