.nav {
    width: 100%;

    ul {
        border-bottom: none;
    }

    a {
        font-family: PublicSans-Bold;
        font-size: 1rem;
        opacity: 0.5;
    }

    [class~=ant-menu-item-active][class~=ant-menu-item-active][class~=ant-menu-item-active]:after {
        border-bottom: 4px solid #000000;
        opacity: 1;

        a {
            color: #000000;
        }

    }

    [class~=ant-menu-item][class~=ant-menu-item]:hover:after {
        border-bottom: 4px solid transparent;
        opacity: 1;
    }

    [class~=ant-menu-item]:hover {

        // border-bottom: none;
        a {
            color: #000000;
            opacity: 1;
        }
    }

    [class~=ant-menu-item-selected] {
        border-bottom: 4px solid #000000;

        a {
            color: #000000;
            opacity: 1;
        }
    }

    [class~=ant-menu-item-selected][class~=ant-menu-item-selected]:after {
        border-bottom: 4px solid transparent;
        opacity: 1;
    }

}