@import '@styles/vars.scss';


.loaderWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;

	.content {
		margin-top: -20%;
	}
}

.message {
	color: $color-white;
	font-weight: 600;
	font-size: 1.2rem;
}

.spin {
	margin: 0 auto 20px;
	display: block;
	animation: rotate 2s linear infinite;
}

@keyframes rotate {
	25% {
		transform: rotate(360deg);
	}

	50% {
		transform: rotate(720deg);
	}

	75% {
		transform: rotate(1080deg);
	}

	100% {
		transform: rotate(1080deg);
	}
}

.messageWhiteBg {
	composes: message;
	color: $color-black;
}