.content {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2.5rem;
}

.manage {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.repoHeader {
  padding-bottom: 1.5rem;
  display: flex;
}

.buttonWrapper {
  margin-left: 1rem;
  visibility: hidden;
}

.buttonWrapperActive {
  composes: buttonWrapper;
  visibility: visible;
}