.listItem {
    em {
        display: none;
    }

    [class~=ant-list-item-action] {
        align-self: flex-start;
    }


    .titleWrapper {
        display: flex;
        gap: 18px;
        align-items: center;
        margin-bottom: 8px;

        &Disabled {
            @extend .titleWrapper;
            opacity: .4;
        }

        .title {
            * {
                font-size: 1.12rem;
                font-family: 'PublicSans-Bold';
                color: #000000;
            }
        }

        .privateLabel {
            font-family: 'PublicSans-Regular';
            font-style: italic;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            background: #4DA2E6;
            border-radius: 11px;
            display: inline-block;
            padding: 4px 12px;
        }
    }
}

.pending {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
}



.subtitle {
    .idField {
        font-family: 'PublicSans-Thin';
        font-size: 1rem;
        line-height: 1rem;

        * {
            font-family: 'PublicSans-Thin';
            color: #000000;
            opacity: 0.5;
        }

        mark {
            font-family: 'PublicSans-Thin';
        }
    }

    .interaction {
        display: flex;

        div {
            display: flex;
            align-items: center;
            margin-right: 2rem;
            margin-top: 1.62rem;

            img {
                width: 1rem;
                height: auto;
                margin-right: .5rem;
            }

            span {
                display: inline;
                font-size: .87rem;
            }

        }
    }
}

.dropdownIcon {
    height: 15.67px;
    width: auto;
    opacity: 0.5;
    cursor: pointer;
}