.listItem {
    em {
        display: none;
    }

    [class~=ant-list-item-action] {
        align-self: flex-start;
    }

}

.title {
    margin-bottom: 8px;

    * {
        font-size: 1.12rem;
        font-family: 'PublicSans-Bold';
        color: #000000;
    }
}

.titleDisabled {
    composes: title;

    * {
        color: rgba(0, 0, 0, 0.4);
    }
}


.subtitle {
    .idField {
        font-family: 'PublicSans-Thin';
        font-size: 1rem;
        line-height: 1rem;

        * {
            font-family: 'PublicSans-Thin';
            color: #000000;
            opacity: 0.5;
        }

        mark {
            font-family: 'PublicSans-Thin';
        }
    }

    .interaction {
        display: flex;

        div {
            display: flex;
            align-items: center;
            margin-right: 2rem;
            margin-top: 1.62rem;

            img {
                width: 1rem;
                height: auto;
                margin-right: .5rem;
            }

            span {
                display: inline;
                font-size: .87rem;
            }

        }
    }
}

.dropdownIcon {
    height: 15.67px;
    width: auto;
    opacity: 0.5;
    cursor: pointer;
}