.wrapper {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.syncStatusWrapper {
	margin: 0 auto;
	max-width: 315px;
	text-align: center;
	width: 100%;
	padding-bottom: 30px;
}

.btnNav {
	display: flex;
	justify-content: center;
}

.description {
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
}