@import '@styles/vars.scss';
.entityPicture {
    width: 56px;
    height: 56px;
    object-fit: contain;
    border-radius: 8px;
    visibility: hidden;
    display: block;

    &Active {
        visibility: visible;
    }
}

.list {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    [class~=ant-list-item] {
        padding: 24px !important; // TODO: redo through selector weights 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}


.listItem {
    em {
        display: none;
    }

    [class~=ant-list-item-action] {
        align-self: flex-start;
    }

}

.title {
    margin-bottom: 8px;

    * {
        font-size: 1.12rem;
        font-family: PublicSans-Bold;
        color: $color-pure_black;
    }
}

.subtitle {
    .idField {
        font-family: PublicSans-Thin;
        font-size: 1rem;
        line-height: 1rem;

        * {
            font-family: PublicSans-Thin;
            color: #000000;
            opacity: 0.5;
        }

        mark {
            font-family: PublicSans-Thin;
        }
    }

    .interaction {
        display: flex;

        div {
            display: flex;
            align-items: center;
            margin-right: 2rem;
            margin-top: 1.62rem;

            img {
                width: 1rem;
                height: auto;
                margin-right: .5rem;
            }

            span {
                display: inline;
                font-size: .87rem;
            }

        }
    }
}

.dropdownIcon {
    height: 15.67px;
    width: auto;
    opacity: 0.5;
    cursor: pointer;
}


.pagination {
    :global {

        li,
        div.ant-select-selector {
            border-radius: 5px !important;
        }
    }

}