.branchSelect{
    display: flex;
    align-items: center;
    .title{
        font-family: VisbyBold;
        font-size: 1rem;
        font-weight:400; 
        margin-right: 16px;
    }
    div[class~=ant-select]{
        width: 300px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 8px 16px;
        outline:none;
        border-radius: 8px;
    } 

    [class~=ant-select-selection-item]{
        font-family: VisbyBold;
        font-size: .9rem;
    }
}