.button{
    box-sizing: border-box;
    width: 72px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: #FF791F;
    font-family: PublicSans-Bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
        position: absolute;
        left: 30px;
          top: 86px;
}