.buttonAuth{
    width: 102px;
    text-align: center;
    line-height: 16px;
    height: 36px;
    font-weight: 800;
    color:white;
    background: #FF791F;
    padding: 0;
    font-size: 14px;
    font-family: PublicSans-regular;
    margin-left: 30px !important;
}