.buttonAuth {
  width: 100%;
  color: black;
  font-size: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items:stretch;
  flex-basis: 100%;
  max-width: 231px;

  .whyLink {
    align-self: center;
    padding: 16px 0;
    opacity: 0.7;
    color: #FF791F;

    &:hover {
      opacity: 1;
    }
  }

  span {
    color: black !important;
  }
}

.headerBtn {
  composes: buttonAuth;
  width: 120px;
  text-align: center;
  line-height: 16px;
  height: 36px;
  font-weight: 800;
  color: #000000 !important;
  padding: 0;
  font-size: 14px;
  font-family: PublicSans-regular;
  margin: 0 24px;
}

@media screen and (max-width: 768px) {
  .buttonAuth {
    //width: 100%;
    padding: 5px;
    max-width: unset;
  }

  .wrapper {
    width: 100%;
    align-items: stretch;
    max-width: unset;
    .whyLink {
      font-size: 14px;
    }
  }
}



@media screen and (max-width: 600px) {
  .buttonAuth {
    //width: 100%;
    padding: 5px;
  }
}

@media screen and (max-width: 370px) {
  .buttonAuth {
    padding: 5px;
  }
}