.buttonAuth{
    width: 231px;
    font-size: 20px;
}
.wrapper{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    .whyLink{
        padding: 16px 0;
        opacity: 0.7;
        color: #FF791F;;
        &:hover{
            opacity: 1;
        }
    }
    span{
        color: black !important;
    };
}

.headerBtn{
  composes: buttonAuth;
  width: 154px !important;
  line-height: 16px;
  height: 36px;
  font-weight: 800;  
  padding: 0;
  font-size: 14px;
  font-family: PublicSans-regular;
  margin: 0 24px;
}
@media screen and (max-width: 600px) {
.buttonAuth{
    width: 130px !important;
    height: 40px !important;
    font-size: 14px !important;
    padding: 5px;
    }
}

