.wrapper {
	margin: 0 auto;
}

.btnNav {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.description {
	margin: 0 auto;
	max-width: 600px;
	text-align: left;
	color: #344054;
}