.section {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 943px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    h1{
      font-family: 'PublicSans-ExtraBold';
      font-style: normal;
      font-weight: 800;
      font-size: 32px;
      line-height: 38px;
    }
    p{
      font-family: 'PublicSans-Regular';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #000000;
      margin: 16px 0 59px 0;
      span{
        display: block;
      }
    }
    button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 143px;
      height: 36px;
      background: #FF791F;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      font-family: 'PublicSans-ExtraBold', serif;
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
      cursor: pointer;
    }
    .img {
      img {
        position: absolute;

        &:nth-child(1) {
          animation: fadein 4s ease-in alternate;
          width: 100%;
          left: 0;
          right: 0;
          bottom: -89%;
          z-index: -1;
        }

        &:nth-child(2) {
          width: 98px;
          height: 98px;
          animation: fadein 5s ease-in alternate;
          bottom: -30%;
          left: 18%;
        }

        &:nth-child(3) {
          width: 178px;
          height: 178px;
          animation: fadein 6s ease-in alternate;
          top: -80%;
          left: 9%;
        }

        &:nth-child(4) {
          width: 107px;
          height: 107px;
          animation: fadein 7s ease-in alternate;
          top: -31%;
          left: 21%;
        }
        &:nth-child(5) {
          animation: fadein 2s ease-in alternate;
          right: 10%;
          bottom: -45%;
        }
        &:nth-child(6) {
          animation: fadein 2s ease-in alternate;
          right: 8%;
          top: -60%;
        }
      }
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 1199px) {
  .section{
    footer{
      .content{
        div {
          padding: 16px 15px 20px 15px;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .section{
    .text{
      p{
        span{
          display: inline;
        }
      }
      .img {
        img {
          &:nth-child(2) {
            bottom: -33%;
            left: 3%;
          }
          &:nth-child(3) {
            top: -120%;
            left: 0;
          }
          &:nth-child(4) {
            display: none;
          }
          &:nth-child(5) {
            bottom: -60%;
          }
          &:nth-child(6) {
            top: -75%;
          }
        }
      }
    }
  }
}
