.wrapper{
		margin: 0 auto;
    max-width: 315px;
    display: flex;
    flex-direction: column;
  }

  .btnNav{
    /* margin-top: 30px; */
    max-width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btnNav>button{
    margin-top: 10px;
  }
  .forgot{
      color: rgb(2, 123, 236);
  }