@import '@styles/vars.scss';

.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;

  .nav {
    margin: 0 auto;
    max-width: $max-width;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 44px;
   &span {
      color: #fff;
      font-family: PublicSans-Bold;
      font-size: 18px;
      line-height: 20px;
    }
  }

  .textColor {
    color: #fff;
    text-decoration: none;
  }
}

.headerActive {
  composes: header;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .textColor {
    text-decoration: none;
    color: #000;
  }
}

.navWrapper {
  width: 525px;
  display: flex;
  justify-content: space-between;
  margin-left: 35px;

  .logo {
    margin-right: 88px;
  }
}

.navList {
  display: flex;
  list-style: none;
  max-width: 300px;
  font-weight: 800;
  font-family: "PublicSans-Bold";
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 0px;
  margin: 0;
  align-items: center;

  li {
    margin-right: 40px;
  }
}

.connect {
  display: flex;
  // width: 425px;
  // margin-right: 40px;
  justify-content: space-between;

  input {
    margin-right: 5px;
  }

  button {
    margin-left: auto;
  }
}

.lendosInput {
  caret-color: #FFFFFF;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
  background: rgba(255, 255, 255, 0.1);

  input {
    color: #FFFFFF;

  }
}


.manage {
  display: flex;
  align-items: center;
}

.listManage {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;

  .balance {
    border-radius: 8px;
    color: black;
    width: 147px;
    height: 36px;
    border: none;
    font-size: 14px;
    line-height: 14px;
    font-weight: 900;
    letter-spacing: 0.1px;
  }

  li {
    margin-right: 24px;
  }

  .profile {
    display: flex;
    align-items: center;
    margin-right: 46px;

    span {
      margin-left: 16px;
      margin-right: 14px;
      color: black;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      text-align: right;
      letter-spacing: 0.1px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: auto;

    .nav {
      flex-direction: column;
      align-items: flex-end;
      padding: 10px;
    }
  }

  .headerActive {
    .nav {
      flex-direction: row;
      align-items: center;
      padding: 10px;
    }
  }

  .connect {
    width: 100%;
    margin-top: 10px;
    margin-right: 0 !important;

    button {
      margin: 0 auto;
    }
  }

  .navWrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0 !important;

    .logo {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }

  .navList {
    li {
      margin: 0 0 0 30px !important;
    }
  }
}

@media screen and (max-width: 400px) {
  .navWrapper {
    align-items: flex-start;
  }

  .headerActive {
    .nav {
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  }

  .connect {
    button {
      margin: 0 auto 0 0;
    }
  }

  .navList {
    li {
      margin: 0 30px 0 0 !important;
    }
  }
}