<<<<<<< HEAD:ui/front/src/components/shared/git-auth/onboarding/slider.scss
/* .slick-slide {
    height: auto;
  }
  .slick-track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  } */

=======
/* .slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
} */
>>>>>>> 9ad4e0fc09129e74204c42674c02ac87d324351a:ui/front/src/components/shared/git-auth/onboarding/slider.css
