.title {
    font-family: PublicSans-Bold;
    font-size: 1rem;
    color: #000000;
}

.message.message.message.message {
    font-family: PublicSans-Regular;
    font-size: 1rem;
    color: #000000;
}