.wrapper{
    cursor: pointer;
}
.disabled{
    margin-left: 5px;
}

@media (max-width: 520px) { 
    .disabled{
    display: none;
    }
}
.button {color: black;
    border-color: transparent;
    background: transparent;
    box-shadow: none;
    font-size: 16px;
    font-family: 'PublicSans-Regular';
    font-weight: 400;
&:hover{
    background-color: transparent;
    color: black;
}
}
.dropdown{
    ul{
        border-radius: 16px;
        li:nth-child(5), li:nth-child(7) {
            border-bottom: solid 1px rgba(0, 0, 0, 0.1);
        }
    }
}