.connectBtn {
    width: 120px;
    text-align: center;
    line-height: 16px;
    height: 36px;
    font-weight: 800;
    color: #000000 !important;
    padding: 0;
}

.connectBtnOnConnect {
    composes: connectBtn;
    padding: 2px 24px;
}

.connectBtnLogined {
    composes: connectBtn;
    opacity: 0.5;
}