.wrapper{
    
    max-width: 74rem;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;

}
.toggle{
    position: absolute;
    top:25%;
    right: 600px
}