.wrapper {
position: relative;
  & .buttonEye {
      display: none;
  }
    &:focus-within>.buttonEye{
      display: inline-block !important;
    }
    .buttonEye{
      margin: 0 0 0 -40px;
      outline: none;
      border: none;
      background-color: transparent;
      position: relative;
      top: 6px;
      cursor: pointer;
    }
  }

  .input{
    width: 410px;
    height: 44px;
    line-height: 20px;
    border-radius: 8px;
    caret-color: orange;
    padding: 0 41px 0 10px;
    border:none;
    outline: none;
    background: rgba(0, 0, 0, 0.03);
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: "PublicSans-Regular";
    &[type="password"]
    {
      letter-spacing: 4px  !important;

    }

  &::placeholder {
    font-family: "PublicSans-Regular";
    color: rgba(0,0,0, 0.3);
    font-size: 14px;
    transform: translateX(1px);
    letter-spacing: 0;

  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:focus-within{
    border: solid 1px #000;
  }
}
.valid{
  composes: input;
  background: rgba(234, 0, 0, 0.03);
  color: rgba(234, 0, 0, 1);
  border: solid 1px rgba(234, 0, 0, 1);
  &::placeholder {
      //border: solid 1px rgba(234, 0, 0, 1)
  }
}
.label{
  color: red;
  margin-bottom: 16px;
  position: relative;
  top: 5px;
  text-align: left;
}

.wrapperInput{
  composes: wrapper;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelUp{
  color: black;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  font-family: 'PublicSans-Bold';
  margin-bottom: 8px;
  width: 100%;
  text-align: left;
}

.labelDown{
  position: absolute;
  bottom: -23px;
  left: 11px;
  color: red;
  margin-bottom: 16px;
  text-align: left;
}

.inputText{
composes:input;
height: 36px;
width: 100%;
background-color: #fff;
border: solid 1px rgba(0,0,0, 0.1);

}
.invalid{
  composes: input;
  background: rgba(234, 0, 0, 0.03);
  color: rgba(234, 0, 0, 1);
  border: solid 1px rgba(234, 0, 0, 1);
  &::placeholder {
      //border: solid 1px rgba(234, 0, 0, 1);
  }
}

