.section {
  max-width: 960px;
  width: 100%;
  margin: 80px auto 0 auto;
  .step{
    position: relative;
    display: flex;
    align-items: flex-start;
    .dots{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 48px;
      left: -80px;
      span{
        width: 10px;
        height: 10px;
        background-color: transparent;
        border-radius: 50%;
        &:nth-child(2){
          margin: 20px 0;
        }
      }
      .orange{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        background: #FF791F;
        color: #FFFFFF;
      }
      .green{
        border: 1px solid #3FD05A;
      }
      .blue{
        border: 1px solid #4DA2E6;
      }
    }
  }
  h4{
    font-family: 'PublicSans-SemiBold', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.37em;
    text-transform: uppercase;
    color: #8F8F8F;
  }
  .content{
    h2{
      font-family: 'PublicSans-ExtraBold', serif;
      font-style: italic;
      font-weight: 900;
      font-size: 40px;
      line-height: 52px;
      margin: 24px 0 40px 0;
      .color{
        color: #FF791F;
      }
      .drop{
        display: block;
      }
    }
    .text{

      p{
        font-family: 'PublicSans-Regular', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
        color: #000000;
        .drop{
          display: block;
        }
      }
    }
    a{
      font-family: 'PublicSans-Bold', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      color: #FF791F;
    }
  }
  .input{
    display: flex;
    align-items: center;
    margin: 52px 0 116px 0;
    label{
      margin-bottom: 0;
    }
    input{
      width: 637px;
      height: 52px;
      border-color: #FF791F;
      margin-right: 24px;
    }
    button{
      width: 127px;
      height: 52px;
      background: #FF791F;
      opacity: 0.3;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      color: #FFFFFF !important;
    }
  }
}

@media only screen and (max-width: 400px) {

}