.section {
  max-width: 960px;
  width: 100%;
  margin: 80px auto 0 auto;
  h4{
    font-family: 'PublicSans-SemiBold', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.37em;
    text-transform: uppercase;
    color: #8F8F8F;
  }
  .content{
    h2{
      font-family: 'PublicSans-ExtraBold', serif;
      font-style: italic;
      font-weight: 900;
      font-size: 40px;
      line-height: 52px;
      margin: 24px 0 40px 0;
      .color{
        color: #FF791F;
      }
      .drop{
        display: block;
      }
    }
    .text{
      p{
        font-family: 'PublicSans-Regular', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 0;
        &:nth-child(2){
          margin: 28px 0;
        }
        .drop{
          display: block;
        }
      }
    }
    .skip{
      border: 0;
      background-color: transparent;
      font-family: 'PublicSans-Bold', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      color: #FF791F;
    }
  }
  .input{
    display: flex;
    align-items: center;
    margin: 52px 0 116px 0;
    label{
      margin-bottom: 0;
    }
    input{
      width: 637px;
      height: 52px;
      border-color: #FF791F;
      margin-right: 24px;
    }
    button{
      width: 127px;
      height: 52px;
      background: #FF791F;
      //opacity: 0.3;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      color: #FFFFFF !important;
      cursor: pointer;
    }
    button:disabled{
      background: #FF791F;
      opacity: 0.3;
    }
  }
}

@media only screen and (max-width: 400px) {

}
