.meta {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	padding: 14px 24px;
}

@media screen and (max-width: 400px) {
	.meta {
		width: 300px;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		padding: 20px 10px 15px 10px;

		div {
			margin: 0 0 5px 0;
		}
	}

	:global {
		.ant-list-item-meta {
			width: 100%;
		}

		.ant-list-item {
			width: 100%;
			flex-direction: column;
			align-items: flex-start;

			.ant-list-item-action {
				display: flex;
				width: 100%;
				justify-content: space-between;
				margin-top: 10px;
				margin-left: 0;
			}
		}
	}

}