
.button{
  cursor:pointer;
  white-space: nowrap;
  color: white !important;
	background: #FF791F;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 24px;
  &:disabled{
    pointer-events: none;
    // background-color: transparent;
    background: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.05);
    color: white !important;
  }
  }