/* *, *::after, *::before {
  -webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
} */

:global #root {
  height: 100%;
}


body {
  overflow-y: scroll !important;
  width: unset !important;
}

body::-webkit-scrollbar {
  width: 11px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-corner {
  background-color: transparent;
  display: none;
}