.wrapper {
    height: 100%;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    padding: 2.5rem;
    position: relative;
}

.preload {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 99;
}

.dateHeader {
    padding: 10px 10px;
}

.list.list {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 0 10px !important;
    }
}