.bg {
  position: relative;
  width: 100%;
  height: 100%;

  .wrapper {
    position: relative;
    right: 100px;
    width: max-content;
    margin: 0 auto;
    font-family: PublicSans-Regular;
    color: white;

    .logo {
      position: relative;

      img {
        display: block;
        margin-top: 130px;
        animation: fadein 3s alternate;
      }
    }

    .logo::after {
      position: absolute;
      content: '';
      top: -86px;
      right: -198px;
      background: url('@assets/img/rect-half.png');
      width: 86px;
      height: 86px;
      display: block;
      animation: fadein 2s alternate;
    }

    h1 {
      color: white;
      font-size: 80px;
      font-weight: 900;
      line-height: 90px;
      max-width: 609px;
      height: 180px;
      margin-bottom: 16px;
    }

    .intro::before {
      position: absolute;
      content: '';
      left: -91px;
      background: url('@assets/img/left-half-ring.png');
      width: 60px;
      height: 146px;
      display: block;
      animation: fadein 4s alternate;
    }

    .intro {
      position: relative;
      width: max-content;
      margin: 117px auto;

      h1 {
        color: white;
        font-size: 80px;
        font-weight: 900;
        line-height: 90px;
        max-width: 609px;
        height: 180px;
        margin-bottom: 16px;
      }

      p {
        position: relative;
        max-width: 669px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 40px;
      }

      p:after {
        position: absolute;
        content: '';
        bottom: -105px;
        right: -105px;
        background: url('@assets/img/right-half-ring.png');
        width: 121px;
        height: 292px;
        display: block;
        animation: fadein 7s alternate;
      }

      button {
        width: 154px;
        height: 52px;
        background: #FF791F;
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-sizing: border-box;
        border-radius: 8px;
        color: black;
        font-family: PublicSans-Regular;
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
      }
    }
  }

  .wrapper::before {
    background: url('@assets/img/rect.png');
    position: absolute;
    content: '';
    bottom: -165px;
    left: -42px;
    width: 84px;
    height: 84px;
    display: block;
    animation: fadein 10s alternate;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2560px) {
  .wrapper {
    right: 0 !important;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    right: 0 !important;
  }

  .logo::after {
    right: -152px !important;
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    .logo::after {
      display: none !important;
    }

    .intro::before {
      display: none !important;
    }

    .intro p:after {
      display: none !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    img {
      margin: 0 auto;
      margin-top: 40px !important;
    }

    .intro {
      margin: 25px 0 !important;
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 100% !important;

    &::before {
      left: unset !important;
      right: 5px;
      bottom: 0 !important;
    }

    .logo {
      width: 200px;
    }

    .intro {
      width: 100% !important;
      padding: 0 10px;

      h1 {
        font-size: 50px !important;
        height: auto !important;
        line-height: 1.2 !important;
      }

      p {
        font-size: 14px !important;
      }

      button {
        width: 130px !important;
        height: 40px !important;
        font-size: 14px !important;
      }
    }
  }
}