@import '@styles/vars.scss';

.wrapper{
    margin-right:24px;
}

.addButton {
    color: #fff !important;
    border: none;
    background-color: $color-orage !important;
    border-radius: 8px;
    width: 106px;
    height: 36px;
    span{
        font-family: 'PublicSans-Medium' !important;
        font-style: normal;
        font-weight: 500;
        font-size: 14px !important;
        line-height: 16px !important;
        letter-spacing: 0.1px;
    }
    &:hover, &:target{
        background-color: $color-orage !important;
        color: white !important;
    }
}

.button{
    color: black;
    border-color: transparent;
    background: transparent;
    box-shadow: none;
    font-size: 16px;
    font-family: 'PublicSans-Regular';
    font-weight: 400;
    width: 100%;
    text-align: left;
&:hover{
    background-color: transparent;
    color: $color-orage;
}
&:disabled{
    pointer-events: none;
}
}
.dropdown{
    ul{
        border-radius:16px;
        li:hover{
            background-color: transparent;
            // color: $color-orage;
        }
        li:nth-child(2){
            border-bottom: solid 1px rgba(0, 0, 0, 0.1);
        }
    }
}