@import '@styles/vars.scss';


.list {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    [class~=ant-list-item] {
        padding: 24px !important; // TODO: redo through selector weights 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.pagination {

    li,
    div[class~=ant-select-selector] {
        border-radius: 5px !important;
    }
}

:global {
    .ant-tabs-tab-btn {
        font-family: 'PublicSans-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #000000 !important;
        opacity: 0.5;
    }

    .ant-tabs-top>.ant-tabs-nav::before {
        border-bottom: 0;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        opacity: 1;
    }

    .ant-tabs-ink-bar {
        border-bottom: 4px solid #000000 !important;
    }
}