.breadcrumb{
    *{
        font-family: 'VisbyBold';
        font-size: 16px;
    }
    [class~=ant-breadcrumb-separator], a{
        color: #000000;
        opacity: 0.3;
    }
    [class~=ant-breadcrumb-link] {
        color: #FF791F
    }
}

@media screen and (max-width: 550px) {
    .breadcrumb{
        margin-top: 10px;
    }
}