.tree {
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    .listItem.listItem {
        padding: 18px 25.33px;

        .treeElement {
            display: flex;
            align-items: center;

            img {
                width: 13.33px;
                height: auto;
                display: block;
                margin-right: 17.33px;
            }

            a {
                color: #000000;
                font-size: 1rem;
            }

            a:hover {
                color: #FF791F;
            }
        }
    }
}

.preload {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 99;
}