@font-face {
    font-family: "Visby";
    font-style: normal;
    font-weight: normal;
    src: local('Visby'), url("@assets/fonts/VisbyRegular.woff") format("woff")
}

@font-face {
    font-family: "VisbyBold";
    font-style: normal;
    font-weight: normal;
    src: local('Visby-Regular'), url("@assets/fonts/VisbyBold.woff") format("woff")
}

@font-face {
    font-family: "VisbyItalic";
    font-style: normal;
    font-weight: normal;
    src: local('VisbyItalic'), url("@assets/fonts/VisbyItalic.woff") format("woff")
}

@font-face {
    font-family: "VisbyRegular";
    font-style: normal;
    font-weight: normal;
    src: local('VisbyRegular'), url("@assets/fonts/VisbyRegular.woff") format("woff")
}
@font-face {
    font-family: "VisbyExtraBold";
    font-style: normal;
    font-weight: 900;
    src: local('VisbyExtraBold'), url("@assets/fonts/VisbyCF-ExtraBold.woff") format("woff")
}

@font-face {
    font-family: "PublicSans-Thin";
    font-style: normal;
    font-weight: 100;
    src: local('PublicSans-Thin'), url("@assets/fonts/PublicSans-Thin.woff") format("woff")
}

@font-face {
    font-family: "PublicSans-Regular";
    font-style: normal;
    font-weight: 400;
    src: local('PublicSans-Regular'), url("@assets/fonts/PublicSans-Regular.woff") format("woff")
}

@font-face {
    font-family: "PublicSans-Medium";
    font-style: normal;
    font-weight: 500;
    src: local('PublicSans-Medium'), url("@assets/fonts/PublicSans-Medium.woff") format("woff")
}
@font-face {
    font-family: "PublicSans-SemiBold";
    font-style: normal;
    font-weight: 600;
    src: local('PublicSans-SemiBold'), url("@assets/fonts/PublicSans-SemiBold.woff") format("woff")
}
@font-face {
    font-family: "PublicSans-Bold";
    font-style: normal;
    font-weight: 700;
    src: local('PublicSans-Bold'), url("@assets/fonts/PublicSans-Bold.woff") format("woff")
}
@font-face {
    font-family: "PublicSans-ExtraBold";
    font-style: normal;
    font-weight: 800;
    src: local('PublicSans-ExtraBold'), url("@assets/fonts/PublicSans-ExtraBold.woff") format("woff")
}
@font-face {
    font-family: "PublicSans-Black";
    font-style: normal;
    font-weight: 900;
    src: local('PublicSans-Black'), url("@assets/fonts/PublicSans-Black.woff") format("woff")
}