@font-face {
    font-family: "Visby";
    font-style: normal;
    font-weight: normal;
    src: local('Visby'), url("@assets/fonts/VisbyRegular.woff") format("woff")
   }
  
   @font-face {
    font-family: "VisbyBold";
    font-style: normal;
    font-weight: normal;
    src: local('Visby-Regular'), url("@assets/fonts/VisbyBold.woff") format("woff")
   }
  
   @font-face {
    font-family: "VisbyItalic";
    font-style: normal;
    font-weight: normal;
    src: local('Visby-Regular'), url("@assets/fonts/VisbyItalic.woff") format("woff")
   }
  
   @font-face {
    font-family: "VisbyItalic";
    font-style: normal;
    font-weight: normal;
    src: local('VisbyRegular'), url("@assets/fonts/VisbyRegular.woff") format("woff")
   }