@import './fonts.scss';
@import '@styles/vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw !important;
  overflow-x: hidden;
}

body {
  font-family: PublicSans-Thin, serif;
  line-height: unset;
}

body::-webkit-scrollbar {
  width: 11px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $color-green;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-corner {
  background-color: transparent;
  display: none;
}