.wrapper {
	margin: 0 auto;
	max-width: 485px;
	width: 100%;
	font-family: "PublicSans-Regular";
	margin-top: 120px;

	h2 {
		font-weight: 900;
		font-size: 32px;
		line-height: 37.6px;
		font-family: PublicSans-Black;
	}
	
	button{
		margin-top: 88px;
		// &:hover{
		// 	color: ;
		// }
	}
	.description{
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.5);
	}
}
.wrapperInput{
	margin-top: 40px;
	text-align: left;
    margin-left: 30px;
}
.password {
	background: rgba(0, 0, 0, 0.03);
	border-radius: 8px;
	padding: 12px;
	color: rgba(0, 0, 0, 0.3);
	width: 400px;
	
	input {
	  background: transparent;
	  width: 400px;
	}
	input:not(last-child){
		margin-bottom: 16px;
	}
  
  }

.wrapperDescr{
	  margin-left: 36px;
  }
.descrTitle{
		color: rgba(0,0,0, 0.5);
		text-align: left;
		line-height:20px;
		font-size: 12px;
		margin: 0
	};
.list {
		list-style: disc;
		color: rgba(0, 0, 0, 0.5);
		text-align: left;
		line-height:20px;
		font-size: 14px;
		margin: 0 0 0 17px;
	}
.listItem{
	list-style: disc;
color: rgba(0, 0, 0, 0.5);
text-align: left;
line-height:20px;
font-size: 12px;
	}

.wrapperList {
	margin-bottom: 22px;
	
  .strengthTitle{
	position: relative;
    top: 5px;
    left: 33px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    width: auto;
    text-align: left;
}
}

.listStyled {
	display: flex;
	align-items: center;
	justify-content: space-between;
    margin: 0 34px;
	width: 405px;
}
.listItemStyled{
	height: 6px;
	// margin: 0 2px;
	border-radius: 3px;
	width: 48px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-width: 1px;
	// background-color: rgba(0,0,0, 0.1);
	list-style: none;
}
