
name: Deploying the UI

on:
  push:
    branches: [ demo ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Push to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.INSTANCE_IP_UI }}
          username: ${{ secrets.INSTANCE_USERNAME }}
          key: ${{ secrets.INSTANCE_KEY }}
          passphrase: ${{ secrets.INSTANCE_PASSPHRASE }} 
          script: ${{ secrets.PROJECT_PATH_UI }} && ${{ secrets.GIT_REPO_UI }} && ${{ secrets.GIT_BRANCH }} && docker build -t sourc3-ui:latest . &&  docker rm -f sourc3-ui || true && docker run -d --name  sourc3-ui sourc3-ui:latest && docker network connect nginx_net sourc3-ui
